html, body{
    height:100%;
}

main {
    background-image: url(Images/fesse.jpg);
    height: 100%;
}

h1 {color:white;
    text-align: center;
    font-family:avenir next;
}


.bloc{ 
			width:150px;
			height:150px;
			float:left;
			border-radius:100px;
            background-color: white;
			}
