*{
 margin: 0px auto;  
 padding: 0px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height:100%;
    background-color:#FCF9EE;
}

.bloc-center {
            margin:auto;
            position:relative;
            top:50%;
            transform:translateY(-40%)
}


.bloc-accueil { 
            background-image:url(images/accueil-site.png);
            width:656px;
            height:517px;
        
}


.bloc-accueil-home {
    position: absolute;
    top:-115px;
    left:70px;
   
    

}
 .bloc-accueil-home:hover {
    -webkit-transform: translate(360em,0);
    -moz-transform: translate(360em,0);
    -o-transform: translate(360em,0);
    -ms-transform: translate(360em,0);
    transform:rotate(360deg);
     
     -webkit-transition: 1s ease-in-out;
    -moz-transition:1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-out;
  }

.bloc-accueil-projects {

        position:absolute;
        top:120px;
        right:-64px;

}

.bloc-accueil-projects:hover {

        transform:scale(1.1);

}

.bloc-accueil-contact {

        position:absolute;
        bottom:73px;
        right:-60px;
}

.bloc-accueil-contact:hover {

        transform:scale(1.1);

}


.bloc-accueil-about {

        position:absolute;
        bottom:0;
        left:255px;
        
}

.bloc-accueil-about:hover {

        transform:scale(1.1);

}



.bloc-project {

            background-image:url(images/page-projet.png);
            width:695px;
            height:604px;
}

.bloc-project-bouton-droit {

            position:absolute;
            bottom:99px;
            left:542px;
}

.bloc-project-bouton-gauche {

            position:absolute;
            bottom:99px;
            left:497px;
}

.bloc-project-bouton-home {
            
            position:absolute;
            bottom:133px;
            left:694px;
            
    }

.bloc-project-bouton-about {

            position:absolute;
            bottom:106px;
            left:694px;
}

.bloc-project-bouton-contact {

            position:absolute;
            bottom:80px;
            left:694px;
}

.gallery {
        margin:auto;
        width:500px;
        height:250px;

}

.gallery img {

        width:100%;
        height:100%;
}


.bloc-contact-center {
    
    margin:auto;
            position:relative;
            top:39%;
            transform:translateY(-40%)


}

.bloc-contact {

        background-image: url(images/page-contact.png);
        width:867px;
        height:598px;
        
}

.bloc-contact-facebook {

        position:absolute;
        top:182px;
        left:308px;

}

.bloc-feuille-project {

        position:absolute;
        top:55px;
        left:160px;
}

.bloc-feuille-about {

        position:absolute;
        top:80px;
        left:140px;
}

.bloc-feuille-home {

        position:absolute;
        top:120px;
        left:180px;
}




